.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #a0a0a0;
}

.modal-content {
    background: #343232;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 0, 0, 0.1);
    position: relative;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #fff;
}

.modal-close {
    position: absolute;
    top: 0;
    left: 12px;
    background: none;
    border: 0;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.payment-options {
    margin: 20px 0;
}

.payment-options label {
    display: block;
    margin: 10px 0;
}

.error-message {
    color: red;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}
