
.cards-container{
    height: 70vh;
    padding: 60px 180px;
    /* background-color: #a0a0a0; */
    background-color: #0a0a0a;
}
.cards-container hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 30px auto;
}
.explore_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    
}

.explore_nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.card_header{
    color: #fff;
}

.explore_nav span:hover{
    padding: 0 6px;
    font-size: 1.5rem;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: .3s;
}
.explore_nav span{
    color: red;
    border-color: red;
    
}

.explore-grid{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    
}

.explore-card{
    padding: 1rem;
    background-color: #1f2125;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: .3s;
}
.explore-card:hover{
    background-color: #0a0a0a;
    border-color: red;
}

.explore-card span{
    display: inline-block;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    background-color: #d79447;
    border-radius: 5px;
}
.explore-card h4{
    margin-bottom: .5rem;
    font-size: 1.2rem;
    color: #fff;
    cursor: context-menu;
}
.explore-card p{
    margin-bottom: 1rem;
    color: #d1d5db;
    cursor: context-menu;
}
.explore-card a{
    color: #fff;
    transition: .3s;
}
.explore-card a:hover{
    color: red;
}

